*{
    margin:0;
    padding:0;

}
body{
    background-image: url(kutta.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width:50%;
    height:100%;
}
p,h1{
    color: black;
}
#features{
    width: 100%;
    padding: 50px 35px;
}
.para{
    font-family: "Josefin Sans", Helvetica, Arial, Lucida, sans-serif;
}
.features-img{
    flex-basis: 100%;
    margin:auto;

}
.features-img img{
    width:70%;
    border-radius: 10px;
}
div{
    display: inline-block;

}